<!doctype html>
<html ng-app="muskoka" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= title %></title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="dist/js/vendor.css">
    <link rel="stylesheet" type="text/css" href="dist/js/app.css">

</head>
<body>

    <div class="app" id="app" ui-view="root">

    </div>

    <!-- JS -->
    <script type="text/javascript" src="dist/js/vendor.js"></script>
    <script type="text/javascript" src="dist/js/app.js"></script>
</body>